@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  body {
    background-color: #ffffff; /* Set your preferred light background color */
    color: #000000; /* Set your preferred light text color */
  }
}
.google-btn button {
  width: 100%;
  text-align: center;
  display: flex !important;
  gap: 0px !important;
  justify-content: center;
  align-items: center;
  /* justify-content: space-evenly; */
  /* background: #dc4a38 !important; */
  /* border-color: gray !important;
  border-radius: 5px !important; */
  box-shadow: none !important;
  font-size: 16px !important;
  font-weight: bold !important;
  color: #000000 !important;
  /* z-index: 4375; */
}
.label {
  font-weight: 600;
  color: #585858;
}
.loader {
  animation: loading 3s linear infinite;
}
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  /* Set the width of the scrollbar */
}
::-webkit-scrollbar-thumb {
  background-color: #007ad1; /* Set the color of the thumb */
}

/* For Firefox */
/* scrollbar-color: #4a4a4a thin; */
/* ::-webkit-scrollbar {
  width: 20px; 
} */

@keyframes loading {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
